{% extends 'layout.html' %}
{% block title %}Don't worry, we all forget sometimes.{% endblock %}
{% block pretext %}You've recently asked to reset the password for your LGB Portal CRM account, click on the link below to proceed with your password recovery.{% endblock %}

{% block content %}
<!-- COPY -->
<tr>
	<td bgcolor="#ffffff" align="left" style="padding: 0px 30px 20px 30px; color: #333; font-family: 'Nunito', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
		<p style="margin: 0;">You've recently asked to reset the password for this LGB Portal CRM account: {{email}}<br/>To update your password, click the button below:</p>
	</td>
</tr>
<!-- BULLETPROOF BUTTON -->
<tr>
	<td bgcolor="#ffffff" align="left">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td bgcolor="#ffffff" align="left" style="padding: 20px 30px 20px 30px;">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="left" style="border-radius: 50px;" bgcolor="#f1563f"><a href="{{link}}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 50px; border: 1px solid #f1563f; display: inline-block;">Reset Password</a></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td bgcolor="#ffffff" align="left" style="padding: 10px 30px 40px 30px; color: #333; font-family: 'Nunito', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;" >
		<p style="margin: 0;">Cheers,<br>LGB Team</p>
	</td>
</tr>
<tr>
	<td bgcolor="#ffffff" align="left" style="padding: 30px 30px 40px 30px; color: #333; font-family: 'Nunito', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; line-height: 24px; border-top: 1px solid #eee;" >
		<p style="margin: 0;">
			Button not working? Copy and paste this URL into your browser:
			<br>
			<a href="{{link}}">{{link}}</a>
			<br><br>
			This email is valid for 24 hours. If this email has expired, <a href="https://crm.coravin.biz/forgot-password">click here</a> to request your password recovery. If you are unable to recover your password, please contact <a href="https://support.coravin.biz">support</a>.
		</p>
	</td>
</tr>
{% endblock %}